.divider {
    width: 100%;
    height: 0.2vh;
    background-color: rgba(0, 0, 0, 0.3);
    margin-bottom: 2rem;
}

.footer {
    display: flex;
    margin-bottom: 1.7rem;

    .title {
        font-weight: bold;
    }

    .col-rrss {
        width: fit-content;
        .container-rrss {
            display: flex;
            justify-content: space-between;
            align-items: center;
            
        }
    }
}

.development {
    text-align: center;
    margin-bottom: 2.5rem;
}


@media only screen and (max-width: 576px) {
    
    .footer {
        font-size: 0.65em;
        flex-direction: column;
        padding: 0 3.5rem;

        .col, .col-rrss {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);

            .btn-responsive {
                text-align: end;
            }

            .container-rrss {
                width: 8rem;
    
                .logos-rrss {
                    width: 1.5rem;
                }
                
            }
        }

        .col-rrss {
            width: 100%;
        }
    }
    
    .development {
        font-size: 0.5em;
    }
}

@media only screen and (max-width: 766px) and (min-width: 577px) {
    
    .footer {
        font-size: 0.7em;
        flex-direction: column;
        padding: 0 5rem;

        .col, .col-rrss {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);

            .btn-responsive {
                text-align: end;
            }

            .container-rrss {
                width: 8rem;
    
                .logos-rrss {
                    width: 1.7rem;
                }
                
            }
        }

        .col-rrss {
            width: 100%;
        }
    }
    
    .development {
        font-size: 0.6em;
    }
}

@media only screen and (max-width: 992px) and (min-width: 767px) {
    
    .footer {
        font-size: 0.8em;
        justify-content: space-around;
        padding: 0 1rem;
    
        .row-links {
            display: flex;
            width: fit-content;
            gap: 3rem;
                
            .texto-btn {
                font-size: 0.8em;
            }
        }
    
        .title {
            margin-bottom: 1rem;
        }
    
        .col-rrss {
            width: fit-content;
    
            .logos-rrss {
                width: 1.8rem;
            }
        }
    }
    
    .development {
        font-size: 0.7em;
    }
}

@media only screen and (min-width: 993px) {
    
    .footer {
        font-size: 1em;
        justify-content: space-around;
    
        .row-links {
            display: flex;
            width: fit-content;
            gap: 5rem;
                
            .texto-btn {
                font-size: 0.8em;
            }
        }
    
        .title {
            margin-bottom: 1rem;
        }
    
        .col-rrss {
            width: fit-content;

            .logos-rrss {
                width: 1.8rem;
            }
        }
    }
    
    .development {
        font-size: 0.7em;
    }
}
