@import './variables';

.galeria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__productos{
        width: 100%;
        display: grid;
        justify-content: center;
        align-content: center;
        gap: clamp(1rem, 1rem + 1vw, 4rem);
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        font-size: $font-sm;
    }

    &__title{
        align-self: start;
        margin-bottom: 2em;
        color: var(--color-tercero);
        font-weight: 400;
        text-shadow: 0 0 50px var(--color-primero), 0 0 25px rgba(235, 124, 179, 0.4), 0 0 35px rgba(97, 149, 245, 0.4);
        font-size: var(--font-subt);
        animation: translateFromLeft .6s ease-in-out;
    }
}

.btn-volver {
    font-size: 1.2em;
    color: var(--color-segundo);
    background: var(--color-primero);
    padding: .4em 1.8em;
    border-radius: .4em;
    text-align: center;
    margin-top: 5em;
}