.home {
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: clamp(3rem, 3rem + 2vw, 6rem);
    margin-bottom: 3.8rem;
    color: var(--color-tercero);

    &__banner {
        width: 100%;
        height: clamp(180px, 180px + 5vw + 5vh, 30vh);
        font-size: var(--font-banner);
        font-weight: bold;
        font-style: italic;
        position: relative;
        border-radius: .2em;
        background: linear-gradient(45deg, rgb(168, 23, 96), rgb(40, 92, 189), rgb(123, 15, 247));
        background-size: 400%;
        background-repeat: no-repeat;
        background-position: left bottom;
        animation: bannerGrad 20s infinite linear alternate, opacityStart 400ms ease-in;
        overflow: hidden;
        box-shadow: 1px 2px 4px 0 rgba(var(--color-tercero-rgb), .4);
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 0 60%;
            border-radius: inherit;
            filter: contrast(140%) brightness(110%);
            mix-blend-mode: screen;
        }

        p {
            position: absolute;
            bottom: 15%;
            right: 5%;
            color: white;
            text-shadow: 1px 1px 0 var(--color-primero), 4px 4px 20px var(--color-segundo);
            opacity: 0;
            animation: translateFromRight .8s ease-in-out forwards;
            animation-delay: 400ms;
            padding: .4em;
        }
    }

    &__categories {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        width: 100%;

        &__card {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            width: clamp(300px, 300px + .4vw, 340px);
            max-width: 100%;
            font-size: var(--font-p);
            font-weight: bold;
            animation: opacityStart 1.2s ease-in;

            &__imgContainer {
                width: 100%;
                aspect-ratio: 1/.9;
                border-radius: .8em;

                img {
                    width: 100%;
                    max-height: 100%;
                    aspect-ratio: inherit;
                    border-radius: inherit;
                    object-fit: cover;
                }
            }

            &__info {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                gap: .2rem;
                width: 100%;
                padding: 4px;
                line-height: 1.4;

                &__text {
                    color: var(--color-tercero)
                }

                &__btn {
                    color: var(--color-segundo);
                    background: var(--color-primero);
                    padding: .4em 1.8em;
                    border-radius: .4em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}



@media (max-width: 1280px) {
    .home {
        &__categories {
            justify-content: center;
            gap: 3rem;
        }
    }
}

@media (max-width: 700px) {
    .home {
        &__categories {
            flex-direction: column;
            gap: 3rem;

            &__card {
                width: 100%;

                &__imgContainer {
                    height: 30vh;
                }
            }
        }
    }
}



@keyframes bannerGrad {
    0% {
        background-position: bottom left;
    }

    25% {
        background-position: top left;
    }

    50% {
        background-position: top right;
    }

    75% {
        background-position: bottom right;
    }

    100% {
        background-position: bottom left;
    }
}