@import './variables';

.home{
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-items: stretch;
    gap: 2.4rem;
    margin-bottom: 3.8rem;

    &__banner{
        width: 100%;
        height: 30vh;
        font-size: 2.2rem;
        font-family: 'century gothic', sans-serif;
        font-weight: bold;
        font-style: italic;
        position: relative;
        border-radius: .2em;
        background: linear-gradient(45deg, $color-primero, $color-tercero);

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 0 50%;
            border-radius: inherit;
            filter: contrast(120%) brightness(110%);
            mix-blend-mode: screen;
        }

        p{
            position: absolute;
            bottom: 25%;
            right: 10%;
            color: white;
            text-shadow: 2px 2px 0 $color-primero, 4px 4px 20px $color-segundo;
        }
    }

    &__categories{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        gap: .4rem;

        &__card{
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            width: clamp(300px, 300px + .4vw, 340px);
            font-size: 1rem;
            font-family: 'century gothic', sans-serif;
            font-weight: bold;

            &__imgContainer{
                width: 100%;
                aspect-ratio: 1/.9;
                border-radius: .8em;

                img{
                    width: 100%;
                    aspect-ratio: inherit;
                    border-radius: inherit;
                    object-fit: cover;
                }                
            }

            &__info{
                font-size: 1.1em;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                gap: .2rem;
                width: 100%;
                padding: 4px;
                line-height: 1.4;

                &__text{
                    color: $color-tercero
                }

                &__btn{
                    color: $color-segundo;
                    background: $color-primero;
                    padding: .2em 1.8em;
                    border-radius: .4em;
                }
            }
        }
    }
}