.home {
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: clamp(3rem, 3rem + 2vw, 6rem);
    margin-bottom: 3.8rem;
    color: var(--color-tercero);

    &__banner {
        width: 100%;
        height: clamp(180px, 180px + 5vw + 5vh, 30vh);
        position: relative;
        border-radius: .2em;
        animation: bannerGrad 20s infinite linear, opacityStart 400ms ease-in;
        overflow: hidden;
        box-shadow: 1px 2px 4px 0 rgba(var(--color-tercero-rgb), .4);
        background: radial-gradient(ellipse at top, rgb(168, 23, 96), rgb(0, 95, 63), rgb(85, 15, 247));
        background-blend-mode:screen;
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: 200%;
    
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 0 60%;
            border-radius: inherit;
            filter: contrast(140%) brightness(110%);
            mix-blend-mode: screen;
        }

        p {
            position: absolute;
            inset: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
           /*  bottom: 2%;
            right: 1%; */
            color: var(--color-white);
            opacity: 0;
            animation: opacityStart 1.2s ease-in-out forwards;
            text-shadow: 2px 2px 0 var(--color-black);
            /* text-shadow: 0px 0px 20px var(--color-primero); */
            padding: .4em;
            font-size: var(--font-banner);
            font-weight: bold;
        }
    }

    &__categories {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        width: 100%;

        &__card {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            width: clamp(300px, 300px + .4vw, 340px);
            max-width: 100%;
            font-size: var(--font-p);
            animation: opacityStart 1.2s ease-in;

            &__imgContainer {
                width: 100%;
                aspect-ratio: 1/.9;
                border-radius: .8em;

                img {
                    width: 100%;
                    max-height: 100%;
                    aspect-ratio: inherit;
                    border-radius: inherit;
                    object-fit: cover;
                }
            }

            &__info {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                align-items: center;
                gap: .2rem;
                width: 100%;
                padding: 4px;
                line-height: 1.4;

                &__text {
                    color: var(--color-tercero);
                    font-weight: bold;
                    font-size: 1.2em;
                }

                &__btn {
                    color: var(--color-segundo);
                    background: var(--color-primero);
                    padding: .4em .8em;
                    border-radius: .4em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: .9em;
                }
            }
        }
    }
}



@media (max-width: 1280px) {
    .home {
        &__categories {
            justify-content: center;
            gap: 3rem;
        }
    }
}

@media (max-width: 700px) {
    .home {
        &__categories {
            flex-direction: column;
            gap: 3rem;

            &__card {
                width: 100%;

                &__imgContainer {
                    height: 30vh;
                }
            }
        }
    }
}

