:root {
    /* colores basic */
    --color-red: #731620;
    --color-white: #ffffff;
    --color-black: rgb(20, 20, 20);
    --color-white-rgb: 255, 255, 255;
    --color-black-rgb: 20, 20, 20;

    /* colores schema*/
    --color-primero: var(--color-red);
    --color-segundo: var(--color-white);
    --color-tercero: var(--color-black);
    --color-segundo-rgb: var(--color-white-rgb);
    --color-tercero-rgb: var(--color-black-rgb);

    /* font-size basic */
    --font-xs: 1.1rem;
    --font-sm: 1.2rem;
    --font-smm: 1.28rem;
    --font-md: 1.4rem;
    --font-lg: 2rem;
    --font-xl: 2.4rem;
    --font-fluid-sm: clamp(1rem, 1rem + 1vw, 1.5rem);
    --font-fluid-md: clamp(1rem, 1rem + 1.4vw, 1.8rem);
    --font-fluid-mdd: clamp(1.2rem, 1.2rem + 1.4vw, 2rem);
    --font-fluid-lg: clamp(1.8rem, 1.8rem + 1vw, 2.4rem);
    --font-fluid-xl: clamp(2rem, 2rem + 1.2vw, 3.4rem);
    --font-fluid-xxl: clamp(2.2rem, 2.2rem + 2.8vw, 5.8rem);

    /* font-size schema */
    --font-banner: /* var(--font-fluid-mdd) */var(--font-fluid-xxl);
    --font-title: var(--font-fluid-lg);
    --font-subt: var(--font-fluid-md);
    --font-p: var(--font-smm);
}

html {
    /* INICIO SCROLLBAR */

    scrollbar-width: thin;
    scrollbar-color: var(--color-tercero) var(--color-segundo);

    /* width */
    ::-webkit-scrollbar {
        width: 6px;
    }

    /* track */
    ::-webkit-scrollbar-track {
        background: var(--color-segundo);
    }

    /* handle */
    ::-webkit-scrollbar-thumb {
        background: var(--color-tercero);
        border-radius: 12px;
    }

    /* FIN SCROLLBAR */
}

::selection{
    color: var(--color-white);
    background: var(--color-primero);
}

body {
    font-family: 'century gothic', sans-serif;
    background-color: var(--color-segundo);
}

#root,
.root-theme {
    background-color: var(--color-segundo);
    width: 100%;
    height: 100%;
}

.dark-theme {
    --color-segundo: var(--color-black);
    --color-tercero: var(--color-white);
    --color-segundo-rgb: var(--color-black-rgb);
    --color-tercero-rgb: var(--color-white-rgb);
}

.section-full {
    width: 100%;
    min-height: 80vh;
    padding: clamp(.1rem, .1rem + 1vw, 1rem) clamp(.4rem, .4rem + 1vw, 4rem);
    max-width: 1280px;
    margin: 0 auto;
}

.loader {
    width: 50px;
    height: 50px;
    border: 2px solid var(--color-primero);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation .6s linear infinite;
    margin-top: 4%;
}

@media (max-width: 577px) {
    :root {
        --font-p: var(--font-xs);
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes translateFromLeft {
    0% {
        transform: translateX(-200%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes translateFromRight {
    0% {
        transform: translateX(120%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes opacityStart {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes bannerGrad {
    0% {
        background-position: bottom left;
    }

    25% {
        background-position: top left;
    }

    50% {
        background-position: top right;
    }

    75% {
        background-position: bottom right;
    }

    100% {
        background-position: bottom left;
    }
}