@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import './variables';

:root {
    --color-primero: #{$color-red};
    --color-segundo: #{$color-white};
    --color-tercero: #{$color-black};
    --font-title: #{$font-fluid-lg};
    --font-subt: #{$font-fluid-md};
    --font-p: #{$font-md};
}

.section-full {
    width: 100%;
    min-height: 60vh;
    padding: 1rem 4rem;
    padding: clamp(.1rem, .1rem + 1vw, 1rem) clamp(.4rem, .4rem + 1vw, 4rem);
    max-width: 1280px;
    margin: 0 auto;
}



@keyframes translateFromLeft {
    0%{
        transform: translateX(-200%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes translateFromRight {
    0%{
        transform: translateX(120%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes opacityStart{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

