.navbar {
    font-family: 'century gothic';
    width: 100%;
    margin: 3% 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .link-logo {
        width: 30%;

        .logo-btn {
            font-size: 4em;
            font-weight: bold;
        }
    }

    .link-btn {
        width: 15%;
        text-align: center;
    
        .btn {
            font-size: 0.9em;

            .titulo-btn {
                font-weight: bold;
            }
        }
    }
}

