.navbar {
    width: 100%;
    padding: 1.4% 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 1px 1px 3px rgba($color: #9b9b9b, $alpha: 0.4);
    margin-bottom: 4%;

    .link-logo {
        width: 16%;

        .logo-btn {
            font-size: 6em;
            font-weight: bold;
        }
    }

    .links {
        display: flex;
        width: 40%;
        justify-content: space-between;

        .link-btn {
            text-align: center;
        
            .btn {
                font-size: 1.1em;
    
                .titulo-btn {
                    font-weight: bold;
                }
            }
        }
    }

    
}

