.container.NotFound {
    display: flex;
    flex-direction: column;
    margin: clamp(1em, 1em + .8vw, 4em) clamp(.4em, .4em + .2vw, 1em);
    color: var(--color-tercero);
}

.row.NotFound,
.row-btn.NotFound {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;

    .title {
        font-size: var(--font-fluid-xxl);
        font-weight: bold;
        margin-bottom: .2em;
        margin-top: .1em;
    }

    .col {
        text-align: justify;
    }

    .text {
        font-size: var(--font-subt);
        color: var(--color-primero);
    }

    .div-img {
        text-align: center;
        width: clamp(280px, 280px + 80%, 620px);
        border-radius: 1em;
        margin: auto;
        background: linear-gradient(45deg, var(--color-primero), coral);
        position: relative;

        .img {
            width: 100%;
            object-fit: cover;
            border-radius: .8em;
            filter: contrast(1.04) brightness(1.04);
            background: var(--color-segundo);
        }
    }
}

.row-btn.NotFound {
    justify-content: center;

    .btn-volver {
        margin-top: 2em;
        color: var(--color-segundo);
        background: var(--color-primero);
        padding: .4em 1.8em;
        border-radius: .4em;
    }
}


@media only screen and (max-width: 576px) {
    .btn-volver {
        font-size: .8em;
    }
}

@media only screen and (max-width: 766px) and (min-width: 577px) {
    .btn-volver {
        font-size: .9em;
    }
}

@media only screen and (max-width: 992px) and (min-width: 767px) {
    .btn-volver {
        font-size: 1em;
    }
}