@import './variables';

.producto{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: start;

    &__imgContainer{
        width: 100%;

        img{
            aspect-ratio: 1;
            width: 100%;
            object-fit: cover;
            border-radius: 1.8em;
        }
    }

    &__info{
        font-size: var(--font-p);
        padding: .2em;
    }
}