*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
    overflow-x: hidden;
    overflow-y: scroll;
/* 	scroll-behavior: smooth; */
	font-size: 100%;
}

ul, ol, li, a, h1, h2, h3, p, body, header, section, footer, .container, .container-fluid, .row, .col{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    min-height:100vh;
    overflow-x: hidden; 
    line-height: 1.5;  
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a{
    text-decoration: none;
	outline: none;
	color: inherit;
}

ul{
    list-style: none;
}

button, input, textarea, select{
font: inherit;
background: none;
border: none;
outline: none;
}

button{
   cursor: pointer;
   color: inherit;
}
