.home {
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: clamp(3rem, 3rem + 2vw, 6rem);
  margin-bottom: 3.8rem;
  color: var(--color-tercero);
}
.home__banner {
  width: 100%;
  height: clamp(240px, 30vh, 340px);
  font-size: var(--font-banner);
  font-weight: bold;
  font-style: italic;
  position: relative;
  border-radius: 0.2em;
  background: linear-gradient(45deg, rgb(168, 23, 96), rgb(40, 92, 189), rgb(123, 15, 247));
  background-size: 400%;
  background-repeat: no-repeat;
  background-position: left bottom;
  -webkit-animation: bannerGrad 20s infinite linear alternate, opacityStart 400ms ease-in;
          animation: bannerGrad 20s infinite linear alternate, opacityStart 400ms ease-in;
  overflow: hidden;
  box-shadow: 1px 2px 4px 0 rgb(180, 180, 180);
}
.home__banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 60%;
     object-position: 0 60%;
  border-radius: inherit;
  filter: contrast(140%) brightness(110%);
  mix-blend-mode: screen;
}
.home__banner p {
  position: absolute;
  bottom: 15%;
  right: 5%;
  color: white;
  text-shadow: 1px 1px 0 var(--color-primero), 4px 4px 20px var(--color-segundo);
  opacity: 0;
  -webkit-animation: translateFromRight 0.8s ease-in-out forwards;
          animation: translateFromRight 0.8s ease-in-out forwards;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
  padding: 0.4em;
}
.home__categories {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
.home__categories__card {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: clamp(300px, 300px + 0.4vw, 340px);
  max-width: 100%;
  font-size: var(--font-p);
  font-weight: bold;
  -webkit-animation: opacityStart 1.2s ease-in;
          animation: opacityStart 1.2s ease-in;
}
.home__categories__card__imgContainer {
  width: 100%;
  aspect-ratio: 1/0.9;
  border-radius: 0.8em;
}
.home__categories__card__imgContainer img {
  width: 100%;
  max-height: 100%;
  aspect-ratio: inherit;
  border-radius: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}
.home__categories__card__info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 0.2rem;
  width: 100%;
  padding: 4px;
  line-height: 1.4;
}
.home__categories__card__info__text {
  color: var(--color-tercero);
}
.home__categories__card__info__btn {
  color: var(--color-segundo);
  background: var(--color-primero);
  padding: 0.4em 1.8em;
  border-radius: 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1280px) {
  .home__categories {
    justify-content: center;
    gap: 3rem;
  }
}
@media (max-width: 700px) {
  .home__categories {
    flex-direction: column;
    gap: 3rem;
  }
  .home__categories__card {
    width: 100%;
  }
  .home__categories__card__imgContainer {
    height: 30vh;
  }
}
@-webkit-keyframes bannerGrad {
  0% {
    background-position: bottom left;
  }
  25% {
    background-position: top left;
  }
  50% {
    background-position: top right;
  }
  75% {
    background-position: bottom right;
  }
  100% {
    background-position: bottom left;
  }
}
@keyframes bannerGrad {
  0% {
    background-position: bottom left;
  }
  25% {
    background-position: top left;
  }
  50% {
    background-position: top right;
  }
  75% {
    background-position: bottom right;
  }
  100% {
    background-position: bottom left;
  }
}/*# sourceMappingURL=Home.css.map */