.producto {
  -webkit-animation: opacityStart 1.2s ease-in;
          animation: opacityStart 1.2s ease-in;
  max-width: 340px;
  color: var(--color-tercero);
  position: relative;
  overflow: hidden;
}
.producto__innerContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: start;
  position: relative;
  width: 100%;
  border-radius: 1.8em;
  -webkit-animation: opacityStart 0.6s ease-in;
          animation: opacityStart 0.6s ease-in;
}
.producto__innerTextContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 1.4em;
  overflow: hidden;
}
.producto__innerText {
  width: 100%;
  aspect-ratio: 1;
  padding: 0.9em 1.8em;
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  align-items: center;
  background-color: rgba(var(--color-segundo-rgb), 0.8);
  outline: 1px solid var(--color-segundo);
  border: 1px solid var(--color-segundo);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  -webkit-animation: opacityStart 0.3s ease-in-out;
          animation: opacityStart 0.3s ease-in-out;
  white-space: pre-line;
  line-height: 1.8;
  font-size: var(--font-smm);
  overflow-y: auto;
}
.producto__innerText::-webkit-scrollbar {
  width: 4px;
}
.producto__imgContainer {
  width: 100%;
  border-radius: 1.8em;
  aspect-ratio: 1;
  min-width: 250px;
  background: var(--color-segundo);
}
.producto__imgContainer img {
  aspect-ratio: 1;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.8em;
}
.producto__imgContainer:hover + .producto__expand, .producto__imgContainer:focus-visible + .producto__expand {
  visibility: visible;
}
.producto__name {
  font-size: var(--font-smm);
  padding: 0.2em;
}
.producto__imgModal {
  margin: auto;
  width: clamp(300px, 100%, 600px);
  aspect-ratio: 1;
  border: none;
  border-radius: 2em;
  overflow: hidden;
  background: var(--color-segundo);
  box-shadow: 0 0 4px 0 var(--color-segundo);
  border: 2px solid var(--color-segundo);
}
.producto__imgModal button {
  color: var(--color-segundo);
  text-shadow: 2px 2px 0 var(--color-tercero);
  font-size: var(--font-fluid-lg);
  font-weight: bold;
  position: absolute;
  top: 1%;
  right: 4%;
  transition: 200ms;
}
.producto__imgModal button:hover, .producto__imgModal button:focus-visible {
  color: var(--color-tercero);
  text-shadow: 2px 2px 0 var(--color-segundo);
}
.producto__imgModal::-webkit-backdrop {
  background: rgba(20, 20, 20, 0.8);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.producto__imgModal::backdrop {
  background: rgba(20, 20, 20, 0.8);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.producto__imgModal img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
}
.producto__expand {
  position: absolute;
  bottom: 24%;
  right: 6%;
  color: var(--color-segundo);
  filter: drop-shadow(2px 2px 0 var(--color-tercero));
  cursor: pointer;
  pointer-events: none;
  visibility: hidden;
}
.producto__expand:hover, .producto__expand:focus-visible {
  visibility: visible;
}
.producto__dots {
  align-self: end;
  cursor: pointer;
  border-radius: 50%;
  padding: 0.1em;
  margin: -1em 0.2em 0.2em 0;
  color: var(--color-tercero);
}
.producto__dots.active {
  color: var(--color-primero);
}/*# sourceMappingURL=Producto.css.map */